
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-8);
    /* align-items: center; */
    max-width: var(--container-max);
    padding: var(--container-pad);
    margin: 0 auto;
    min-height: 100vh;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-4);
}

.eyebrow {
    color: var(--color-text-muted);
    font-size: var(--fs-sm);
}

.title-group {
    margin-bottom: var(--space-8);
}

.title {
    color: var(--color-text);
    display: inline;
}

.highlight {
    color: var(--color-accent);
    font-family: var(--font-heading);
    line-height: var(--lh-tight);
    font-size: var(--fs-xl);
}

.subtitle {
    color: var(--color-text-muted);
    margin-bottom: var(--space-6);
}

.cta-group {
    display: flex;
    gap: var(--space-4);
}

.pri-btn {
    background: var(--color-accent);
    color: var(--color-primary);
}

.pri-btn:hover {
    background: var(--color-accent-dark);
}

.sec-btn {
    background: var(--color-primary);
    color: var(--color-accent);
}

.sec-btn:hover {
    background: var(--color-accent);
    color: var(--color-primary);
}
