:root {
  /* Colors */
  --color-primary: #a8abab;
  --color-primary-dark: #a8abab80;
  --color-accent: #ef8fa1;
  --color-accent-dark: #ef8fa0be;

  --color-text: #fbb910;
  --color-text-muted: #fecd50;

  --color-bg: #374250;
  --color-surface: #374250;
  --color-whatsapp: #25d366;


  /* Typography */
  --font-sans: sans-serif;
  --font-heading: serif sans-serif;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2rem;
  --fs-2xl: 3rem;

  --fw-sm: 300;
  --fw-rg: 400;
  --fw-md: 500;
  --fw-lg: 600;
  --fw-bold: 700;

  --lh-tight: 1.2;
  --lh-base: 1.6;


  /* Spacing and Layout */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-12: 3rem;
  --space-16: 4rem;
  --space-24: 6rem;

  --container-max: 1120px;
  --container-pad: 1.5rem;


  /* Effects(Borders and Shadows) */
  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 20px;
  --radius-full: 9999px;

  --shadow-sm: 
  --shadow-md:
  --shadow-lg:
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
}

img, svg, video {
  display: block;
  max-width: 100%;
}

button, input, textarea, select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: var(--color-primary);
  color: var(--color-accent);
}